In [1]:
print ("Abdul Ghaffar")

ABDUL GHAFFAR

In [7]:
#varibale

x=9
print(x)

9

In [8]:
# Opening a dictionary
dict1 = {"Name": "Abdul Ghaffar", "CNIC":"12345", "Bank": "State Bank of Pakistan"}
print(dict1)

{'Name': 'Abdul Ghaffar', 'CNIC': '12345', 'Bank': 'State Bank of Pakistan'}

In [14]:
dict2 = {"Company Name": "Bank Alfalah", "Employee ID":"12345", "Department": "Administration"}
dict2

{'Company Name': 'Bank Alfalah',
 'Employee ID': '12345',
 'Department': 'Administration'}

In [15]:
dict3 = {"Employee ID": "ABC1", "Department":"12345", "Degree": "MBA"}
dict3

{'Employee ID': 'ABC1', 'Department': '12345', 'Degree': 'MBA'}

In [16]:
dict4 = {"Account No": "1234", "Bank":"Alfalah", "Customer Category": "Corporate"}
dict4

{'Account No': '1234', 'Bank': 'Alfalah', 'Customer Category': 'Corporate'}

In [26]:
print(dict1,
      dict2,
      dict3,
      dict4)

{'Name': 'Abdul Ghaffar', 'CNIC': '12345', 'Bank': 'State Bank of Pakistan'} {'Company Name': 'Bank Alfalah', 'Employee ID': '12345', 'Department': 'Administration'} {'Employee ID': 'ABC1', 'Department': '12345', 'Degree': 'MBA'} {'Account No': '1234', 'Bank': 'Alfalah', 'Customer Category': 'Corporate'}

In [31]:
x= "hello world"
print('ro' in x)

False

In [38]:
int (0b101)

5

In [48]:
# Wrtie a program to subtract age from 10 if its less than 100

age =int(input("Enter Age:  "))
if age < 100:
   print(age-10)
else:
   print(age)

Enter Age:  20
10

In [55]:
# Write a program to calculate profit from 20% of the cost
cost =int(input("Enter Cost:  "))
Profit =int (cost*(20/100))
print("your profit is: ", Profit)

Enter Cost:  20
your profit is:  4

In [65]:
# prompt: create a while loop that breaks at 4

i = 0
while i < 25:
    if i == 25:
    break
  print(i)
  i += 5

0
5
10
15
20

In [69]:
def tax_cal(tx, tr, x):
  if tx == tr*x:
    print("You are an honest tax payer")
  else:
    print("You are dishonest")

In [70]:
tax_cal(12,0.1,120)

You are an honest tax payer

In [77]:
def g_t(x):
  if x == 'Male':
    return 0
  elif x == "Female":
    return 1
  elif x == "Transgender":
    return 2
  else:
    print ('who are you?')

In [78]:
g_t('Male')

0

In [79]:
g_t('Female')

1

In [81]:
g_t('Transgender')

2